h1 {
    text-align: center;
  }

td {
    width: 100px;
    height: 100px;
}

table {
    margin: 5% auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#btn {
    width: 100px;
}